<meta charset="utf-8" />
<link rel="stylesheet" href="bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="style.css">
<div id="app">
	<div class="container">
		<header class="text-center">
			<h3>Second TODO APP</h3>
		</header>

		<div id="errors"></div>
				
		
		
		<form id="todo-form">
			<div class="form-group">
				<textarea class="form-control" rows="4" id="todo-text"></textarea>
			</div>
			<div class="text-right">
				<button type="button" class="btn btn-sm btn-success" id="todo-button">New</button>
				<button type="reset" class="btn btn-sm btn-warning" id="todo-reset">Clear</button>
				<button type="button" class="btn btn-sm btn-danger" id="todo-delete">Delete</button>
				<button type="button" class="btn btn-sm btn-info" id="todo-edit">Edit</button>
				<button type="button" class="btn btn-sm btn-secondary" id="todo-save">Save</button>
				
			</div>


		</form>

		<ul class="list-group" id="todo-list"></ul>
	</div>
</div>



<script type="text/javascript" src="js/app.js"></script>